.startButton {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    background-color: blueviolet;
    color: white;
    border-style: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}