html,
body {
    height: 100vh;
    width: 100%;
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}