.spinner {
    width: 32px;
    height: 32px;
    border: 4px solid rgba(255, 255, 255, 0.914);
    border-left-color: #4F46E5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadDiv>p {
    color: white;
}

.loadDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}