.card {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    height: 100%;
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.answers>* {
    width: 500px;
    height: 80px;
    font-size: 30px;
    border-radius: 20px;
}


.question {
    font-size: 36px;
    text-align: justify;
}